<% content_for :title do %>Le dashboard de g0lg0th<% end %>

<div class="gridster">
  <ul>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="klimato" data-view="Klimato"></div>
     </li>

      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
 	<div data-id="btcprice" data-view="Btcprice" data-btcprice="" data-prefix="€"></div>
      </li>


      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
         <div data-id="loadavg1min" data-view="Graph" data-title="Server load" style="background-color:#47bbb3;" data-moreinfo="1 min intervals" ></div>
      </li>


    <!--
      <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
            <div data-id="server_status" data-view="ServerStatus" data-title="Server Status"></div>
      </li>
    -->
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="haproxy-up" data-view="Number" data-title="Nb reverse-proxy up"></div>
    </li>
 
  <!--  <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="netdata_rpi1" data-view="netdata"></div>
    </li>
 
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="netdata_rpi2" data-view="netdata"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
       <div data-id="netdata_rpi3" data-view="netdata"></div>
    </li>
 -->
 
</div>


      <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
         <div data-id="transilien_next_trains" data-view="TransilienNextTrains" data-unordered="true" data-title="Départ de La Celle St-Cloud" data-moreinfo="(R)eal Time - (T)imeTable"></div>
         <i class="fa fa-train icon-background-transilien"></i>
      </li>

<!--
<li data-row="3" data-col="3" data-sizex="3" data-sizey="1">

<div id="openweathermap-widget"></div>
<script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script><script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 11,cityid: '2988507',appid: '23f3831dd6c457c8dfac8f2201bb8055',units: 'metric',containerid: 'openweathermap-widget',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>
</li>
-->

     <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
       <div data-id="airparif" data-view="Airparif" data-title="Airparif"></div>
     </li>

  <!--   <li data-row="3" data-col="1" data-sizex="2" data-sizey="3">
        <div data-id="trafficmap" data-view="Trafficmap" data-title="Le Chesnay" data-lat="48.825415" data-long="2.130544" data-zoom="14" ></div>
    </li>
-->

</ul>

</div>
