<% content_for :title do %>Le dashboard de g0lg0th<% end %>

<div class="gridster">
  <ul>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="klimato" data-view="Klimato"></div>
     </li>

      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
 	<div data-id="btcprice" data-view="Btcprice" data-btcprice="" data-prefix="€"></div>
      </li>

      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
         <div data-id="loadavg1min" data-view="Graph" data-title="Server load" style="background-color:#47bbb3;" data-moreinfo="1 min intervals" ></div>
      </li>

<!--
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="haproxy-up" data-view="Number" data-title="Nb reverse-proxy up"></div>
    </li>
 ========================================================================== -->
      <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
         <div data-id="transilien_next_trains" data-view="TransilienNextTrains" data-unordered="true" data-title="Départ de La Celle St-Cloud" data-moreinfo="(R)eal Time - (T)imeTable"></div>
         <i class="fa fa-train icon-background-transilien"></i>
      </li>

     <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
       <div data-id="airparif" data-view="Airparif" data-title="Airparif"></div>
     </li>
     <!-- ==========================================================================

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="jenkins" data-view="JenkinsTrafficLight" data-title="Pipeline"></div>
  </li> -->

  
    <!-- gggg -->

</ul>

</div>
